* {
    margin: 0;
    padding: 0;
}


header img {
    position: relative;
    height: 100va;
    width: 100vw;
    padding-bottom: 30px;
}

body  {
    background-color: #FFE4C4;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
}

.text {
    margin-left: 200px;
    margin-right: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-bottom: 100px;
    padding-top: 30px;
}

.header::before {
transform: scaleX(0);
transform-origin: bottom right;
}

.header:hover::before {
transform: scaleX(1);
transform-origin: bottom left;
}

.header::before {
content: " ";
display: block;
position: absolute;
top: 0; right: 0; bottom: 0; left: 0;
inset: 0 0 0 0;
background: #b06047;
z-index: -1;
transition: transform .3s ease;
}

.header {
position: relative;
}

html {
block-size: 100%;
inline-size: 100%;
}



@media (orientation: landscape) {
body {
    grid-auto-flow: column;
}
}




