* {
    margin: 0;
    padding: 0;
}


header img {
    position: relative;
    height: 100va;
    width: 100vw;
    padding-bottom: 30px;
}

body  {
    background-color: #FFE4C4;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
}

.text {
    margin-left: 200px;
    margin-right: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.header::before {
transform: scaleX(0);
transform-origin: bottom right;
}

.header:hover::before {
transform: scaleX(1);
transform-origin: bottom left;
}

.header::before {
content: " ";
display: block;
position: absolute;
top: 0; right: 0; bottom: 0; left: 0;
inset: 0 0 0 0;
background: #b06047;
z-index: -1;
transition: transform .3s ease;
}

.header {
position: relative;
}

html {
block-size: 100%;
inline-size: 100%;
}



@media (orientation: landscape) {
body {
    grid-auto-flow: column;
}
}



@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */  .header h1  {font-size: 40px; margin-right: 30px; margin-left: 30px; text-align: center;} .text  {font-size:15px; margin-right: 30px; margin-left: 30px; text-align: center;} }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */  .header h1 {font-size: 50px; margin-right: 200px; margin-left: 200px; text-align: center;} .text {font-size: 25px; margin-left: 200px; margin-right: 200px; text-align: center;} }
