* {
    margin: 0;
    padding: 0;
}


header img {
    position: relative;
    height: 100va;
    width: 100vw;
}

body  {
    background-color: #FFE4C4;
}



.title h1 {
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    margin-right: 200px;
    margin-left: 200px;
}



.title p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    margin-right: 200px;
    margin-left: 200px;
    font-size: 30px;
}

.img2 img {
    height: 100%;
    width: 100%;
    padding-top: 30px;
}


.subtitle {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-top: 30px;
}

.subtitle p {
    padding-top: 30px;
    text-align: center;
    margin-right: 200px;
    margin-left: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.type {
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 200px;
}




